<!DOCTYPE html>
<html ng-app="angularApp">
<base href="/"/>
<head>
    <title>Admin Dashboard</title>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
    <script src="javascripts/app.js" type="text/javascript"></script>
</head>
<body >

<p>List of All Recipes</p>
<div ng-controller="AdminController">
    <table>
        <thead>
        <th>id</th>
        <th>title</th>
        <th>category</th>
        <th>ingredients</th>
        <th>procedures</th>
        <th>imgpath</th>
        <th>notes</th>
        <th>status</th>
        <th>login</th>
        </thead>
        <tr ng-repeat="x in recipes">
            <td>{{ x.id }}</td>
            <td>{{ x.title }}</td>
            <td>{{ x.category }}</td>
            <td>{{ x.ingredients }}</td>
            <td>{{ x.procedures }}</td>
            <td>{{ x.imgpath }}</td>
            <td>{{ x.notes }}</td>
            <td>{{ x.status }}</td>
            <td>{{ x.login }}</td>
        </tr>
    </table>
    Recipes are:
    {{recipes}}
</div>

Don't have an account yet? Sign up below!
<a href="/signUp">Sign Up</a>




</body>
</html>