doctype html
html(ng-app='angularApp')
    head
        base(href='/')

        title Admin Dashboard

        script(src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js')

        script(src='javascripts/app.js', type='text/javascript')
    body
        input(type="button", onclick="location.href='/'", value="Logout")
        p List of All Recipes
        div(ng-controller='AdminController')
            table
                thead
                    tr
                        th ID

                        th Title

                        th Category

                        th Login

                        th Delete

                tbody
                    tr(ng-repeat='x in recipes')
                        td {{ x.ID }}

                        td
                            a(ng-href='/viewRecipe/{{x.ID}}') {{x.Title}}

                        td {{ x.Category }}

                        td {{ x.Login }}

                        td
                            a(ng-href='/delRecipe/{{x.ID}}') Delete



