doctype html
html(ng-app='angularApp')
    head
        base(href='/')

        title Integrating AngularJS with NodeJS

        script(src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js')

        script(src='javascripts/app.js', type='text/javascript')
    body
        p Welcome to Recipe Finder
        p Sign In!
        div(ng-controller='signInController')
            label Username
            input(type='text', name="user" ng-model='user', value='USERNAME')
            label Password
            input(type='password', name="pass", ng-model='password', value = 'PASSWORD')
            input(type='submit', value='SignIn', ng-click='Authenticate()')
    p Don't have an account yet? Sign up below!
    input(type="button", onclick="location.href='/signUp'", value="Sign Up")